PORT=3000
MONGODB_URI=mongodb+srv://USUARIO:SENHA@cluster0.XXXXXX.mongodb.net/clinica_db?appName=Cluster0
JWT_SECRET=cole_aqui_uma_string_longa_e_aleatoria
JWT_EXPIRES_IN=7d
OPENWEATHER_API_KEY=cole_aqui_sua_chave_openweathermap
OPENWEATHER_CITY=Rio de Janeiro